@import "tailwindcss";

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-bold text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex items-center justify-center lg:gap-12 gap-7;
        }
    }

    .noisy {
        @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
    }

    #hero {
        @apply relative z-10 min-h-dvh w-full border border-transparent;

        h1 {
            @apply md:mt-32 mt-40 text-8xl md:text-[20vw] leading-none text-center font-bold;
        }

        .left-leaf {
            @apply absolute left-0 md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-20 md:w-fit w-1/3;
        }

        .right-leaf {
            @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-fit w-24;
        }
    }
}
